table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    height: 100%;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    background-color: rgb(235,235,235);
}
  
td {
    text-align: center;
}
  
tr td {
    background-color: rgb(250,250,250);
}
  
caption {
    padding: 10px;
}

.deleteDiv, .changeStatus {
    padding: 0;
    margin: 0;
}

.deleteDiv button, .changeStatus button {
    border: 1px solid black;
    margin: 0;
    padding: 2px;
    width: 100%;
    height: 100%;
    background-color:  rgb(235,235,235);
}